@model Domain.DiffieHellman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiffieHellman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKeyA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateKeyA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKeyB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateKeyB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.G)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.G)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymmetricKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymmetricKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
